* {
    font-family: helvetica, arial, sans-serif;
}

body {
    background-color: rgb(221, 235, 250);
}

#page-container {
    margin: 0 auto;
}

#buttons {
    width: 80vh;
    min-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 1em 2em;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(72, 118, 243);
    transition: 500ms;
}

button:hover {
    background-color: rgb(58, 93, 189);
    transition: 1ms;
}

#pixel-grid {
    height: 80vh;
    width: 80vh;
    min-width: 500px;
    min-height: 500px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1px;
}

.pixel {
    width: 1fr;
    height: 1fr;
    background-color: white;
    transition: 10s;
}

.pixel-color {
    background-color: rgb(72, 118, 243);
    transition: 1ms;
}

.pixel:hover {
    cursor: pointer;
}