* {
    font-family:'Segoe UI', Verdana, sans-serif
}

body {
    background-color: rgb(221, 235, 250);
}

#page-container {
    margin: 0 auto;
}

#grid-container {
    height: 80vh;
    width: 80vh;
    margin: 0 auto;
    display: grid;
    grid-gap: 1px;
}

#popup-button {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 1em 2em;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(72, 118, 243);
    transition: 1s;
}

#popup-button:hover {
    background-color: rgb(58, 93, 189);
    transition: 1ms;
}

.grid-item {
    width: 1fr;
    height: 1fr;
    background-color: white;
    transition: 10s;
}

.grid-item:hover {
    background-color: rgb(72, 118, 243);
    cursor: pointer;
    transition: 1ms;
}